{% extends "parent.html" %}
{% block name %} Daiquiri {% endblock %}

{% block image %}<img src="/static/Daiquiri.jpg" " class="img-fluid" alt="Responsive image">{% endblock %}





Rub a lime wedge around the edge of a highball glass, and dip the rim in salt (optional).

Add the tequila and lime juice to the glass, and fill with ice.

Top with grapefruit soda, and stir briefly and gently to combine.

Garnish with a lime wheel






INSERT INTO Cocktail (CocktailID ,Cocktail_name, Flavors, Toppings, Alcohol_type, Side_Base, Image, Recipe ) VALUES (29,"Paloma", "Sweet", "Lime, Grapefruit", "Tequila" , "Lime Juice, Soda", "https://i.pinimg.com/originals/2b/cb/0e/2bcb0e9cf0ad7a61b4d7d5a5db3114ce.jpg","<li>2 ounces tequila</li><li>1/2 ounce lime juice, freshly squeezed</li><li>Grapefruit soda, chilled, to top</li><br><h5>Garnish:</h5><p>Lemon or Grapefruit wheel</p><h5>Steps:</h5><li>Rub a lime wedge around the edge of a highball glass, and dip the rim in salt (optional).</li><li>Add the tequila and lime juice to the glass, and fill with ice.</li><li>Top with grapefruit soda, and stir briefly and gently to combine.</li><li>Garnish with a lime wheel or Grapefruit</li><br>");


