<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Perfect Cocktail Beta</title>
       <!-- Bootstrap styles -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
       <link rel = "stylesheet" href="/static_2/style.css">
       <link rel = "stylesheet" href="/static/register.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap-theme.min.css"
       integrity="sha384-rHyoN1iRsVXV4nD0justInGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
       integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body bgcolor="#ffffff">
  <!-- Begin navbar -->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mr-0">
        <img class="mr-1" src="/static/cocktail.png" alt="" width="30" height="30">
        Perfect Cocktail
      </a>
    </div>
    </nav>
  </header>
  <!-- End navbar -->
        
<!-- Main Form follows-->
 <main role="main" class="container-fluid">
    <div class="row">
        <h1>.</>
        <h1> </>

    </div>
        <h2>Your Page</h2>


        
          <div class="container">
            <label for="uname"><b>Favorite Cocktails</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
          </div>
        <form action="/cocktail/query2" method="post">
          <div class="container" style="background-color:#f1f1f1">
            <button type="submit" class="Submit">Search another cocktail</button>
          </div>
        </form>


  </div>
</body>
</html>
