{% extends "parent.html" %}
{% block name %} CBD Spritz {% endblock %}

{% block image %}<img src="/static/CBD_Spritz.jpg" " class="img-fluid" alt="Responsive image">{% endblock %}

{% block Ingredients %}
<li>1 ounce vodka</li>
<li>1 ounce Aperol</li>
<li>2 ounces sparkling wine, chilled</li>
<li>2 ounces Sprig CBD-infused zero-sugar sparkling citrus soda, chilled</li>
{% endblock %}

{% block garnish %} Slice of Grapefruit{% endblock %}

{% block steps %}
<li>Fill a double rocks glass with ice, then add the vodka and Aperol.</li>
<li>Top with chilled sparkling wine followed by the chilled Sprig CBD-infused soda.</li>
<li>Stir to combine, and garnish with a grapefruit slice.</li>
{% endblock %}