{% extends "parent.html" %}
{% block name %} Dark Side {% endblock %}

{% block image %}<img src="/static/The_dark_side.jpg" " class="img-fluid" alt="Responsive image">{% endblock %}

{% block Ingredients %}
<li>2 and 1/2 ounces gin</li>
<li>3/4 ounce Barolo chinato</li>
<li>3 dashes Peychaud's bitters</li>
{% endblock %}

{% block garnish %} Brandied cherry{% endblock %}

{% block steps %}
<li>Add the gin, Barolo chinato and bitters into a mixing glass with ice and stir until well-chilled.</li>
<li>Strain into a chilled cocktail glass.</li>
<li>Garnish with a brandied cherry.</li>
{% endblock %}