{% extends "parent.html" %}
{% block name %} Irish Coffee {% endblock %}

{% block image %}<img src="/static/Irish_Coffee.jpg"" class="img-fluid" alt="Responsive image">{% endblock %}

{% block Ingredients %}
<li>1 and 1/2 ounces Irish whiskey</li>
<li>2 teaspoons brown sugar</li>
<li>Hot brewed coffee, to top</li>
{% endblock %}

{% block garnish %} Whipped Cream {% endblock %}

{% block steps %}
<li>Fill an Irish Coffee mug with hot water, let sit for 2 minutes, then discard the water.</li>
<li>Add the whiskey and sugar to the heated glass, fill with the coffee, and stir.</li>
<li>Top with an inch of unsweetened lightly whipped cream.</li>
{% endblock %}

