{% extends "parent.html" %}
{% block name %} Margarita {% endblock %}

{% block image %}<img src="/static/Margarita.jpg" " class="img-fluid" alt="Responsive image">{% endblock %}

{% block Ingredients %}
<li>1 lime wedge</li>
<li>1 pinch coarse sea salt to taste</li>
<li>1 large ice cube</li>
<li>2 fluid ounces white tequila</li>
<li>1 and 1/2 fluid ounces triple sec</li>
<li>1 fluid ounce freshly squeezed lime juice</li>
{% endblock %}

{% block garnish %} 1 slice of lime {% endblock %}

{% block steps %}
<li>Moisten the rim of a glass with a lime wedge. Sprinkle salt onto a plate. Lightly dip the moistened rim into the salt. Place a large ice cube in the glass and freeze the prepared glass until ready to serve.</li>
<li>Fill a cocktail shaker with fresh ice. Add tequila, triple sec, and lime juice. Cover and shake vigorously until outside of the shaker has frosted. Strain into the prepared glass and garnish with a slice of lime.</li>
{% endblock %}